<b>Modo de usar...</b>
Para registrar uma compra basta digitar o valor dela e enviar.
Em seguida aparecerá uma menu de seleção para você dizer a categoria da compra. 
Após clicar, basta esperar a confirmação do registro e teremos o dados na planilha 😃

Exemplo de mensagem...
<code>
12,00
</code>

Você pode fornecer mais detalhes, separando por linhas da seguinte maneira...
<code>
valor
local
detalhes
</code>

Nesse caso ele registrará o dado com o local da compra e algum detalhe que vc deseje acrescentar
